@if $incluir-navegacion == true{





/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
/**
*
* La semántica va como sigue:

    <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <!-- OMG NO SEMANTIC HTML, well, it help us to avoid JS in the menu slide in mobile -->

    <nav class="nav--top">
        <ul class="nav--top__list">
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
            <li><a href="">item</a></li>
        </ul>
    </nav>

* Y no te olvides de modificar las variables en el archivo de variables ($nav-**)
*/

.nav {
}

    .nav__list {
    list-style: none;
    margin:  0;
    padding: 0;
    background-color: $nav-background;
    box-shadow:inset -100px -50px 100px 100px rgba(0,0,0,0.2);
    /*
    * Usamos VW porque con % tomaría el tamaño del contenedor,
    * que es $nav-width (unos 48px) y no se ve na' e ná
    */
    width: 100%;

    li{
      display: table-cell;
      vertical-align: middle;
      border:1px olive;
      text-align: center;

      a{
        color: black;
      }
    }
  }

} //endif